#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

if [ -f "./.gh-token" ]; then
  source ./.gh-token
fi

# Watch & reload direnv on change
watch_file devshell.toml

export GITHUB_REPO="tstachl/seed_tstachl_tbdliquidation"
export TMP_REPO="/tmp/repo"
export SYM_INFO="/symbol_info/seed_tstachl_tbdliquidation.json"

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake
